<div id="signup">
	<h2>Sign Up</h2>

	<div class="form-stacked">
		<fieldset>
			<ul class="unstyled inputs-list">
				<li class="clearfix">
					<label for="username">Username</label>
					<input type="text" id="username" />
				</li>
				<li class="clearfix">
					<label for="email">Email Address</label>
					<input type="text" id="email" />
				</li>
				<li class="clearfix">
					<label for="password">Password</label>
					<input type="password" id="password" />
				</li>
			</ul>
			<div class="actions">
				<button id="signup-btn" class="btn primary">Sign Up</button>
			</div>
		</fieldset>
	</div>
</div>

<% content_for :js do %>
	<%= javascript_include_tag "components/tt-signup" %>
	<script>
		$(function() {
			TinyTime.Manager({
				components: {
					signup: TinyTime.SignUp()
				}
			}).init();
		});
	</script>
<% end %>