<div id="admin-index">
	<header class="admin-header">
		<h1>Admin Home, Bitches!</h1>
	</header>

	<section id="admin-index-metrics">
		<section class="admin-index-metric well">
			<strong><%=@num_accounts %></strong> <span>Accounts</span>
		</section>
		<section class="admin-index-metric well">
			<strong><%=@num_instances %></strong> <span>Projects</span>
		</section>
		<section class="admin-index-metric well">
			<strong><%=@num_invoices %></strong> <span>Invoices</span>
		</section>
	</section>
</div>