<div id="admin-index">
	<h1>Admin Home, Bitches!</h1>

	<section id="admin-index-metrics">
		<section class="admin-index-metric well">
			<strong><%=@num_accounts %></strong> <span>Accounts</span>
		</section>
		<section class="admin-index-metric well">
			<strong><%=@num_instances %></strong> <span>Projects</span>
		</section>
		<section class="admin-index-metric well">
			<strong><%=@num_invoices %></strong> <span>Invoices</span>
		</section>
	</section>
</div>