<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<style type="text/css">
		body { line-height:1.4; }
	</style>
</head>
<body>
	<p style="margin:8px 0;">Click here to reset your TinyTime password: <%=link_to 'Reset Password', forgot_reset_url(:token => @user.reminder_token, :email => @user.email) %></p>
</body>
</html>