.tt-shadow { box-shadow:0 2px 4px rgba(0, 0, 0, 0.2); }
.tt-shadow-big { box-shadow:0 4px 20px rgba(0, 0, 0, 0.4); }

/* Title */
.tt-title-label { display:inline-block;padding:0 8px;border:1px solid #f0f0f0; }
	.tt-title-label:hover { background-color:rgba(255, 243, 176, 0.1);border-color:#ccc; }

input.tt-title-input { display:none;padding:9px 8px;font-size:24px;font-weight:bold; }

/* New Entry */
.tt-newentry { margin-top:1em;padding:1em 1em 0;border:1px solid rgba(187, 204, 153, 0.6);background-color:rgba(204, 221, 170, 0.7); }
	.tt-newentry header { font-size:0.9em;font-weight:bold;text-transform:uppercase; }
	.tt-newentry-workdate { line-height:30px; }
		.tt-newentry-workdate-label { cursor:pointer; }
		.tt-newentry-workdate input { display:none; }
	.tt-newentry-fields { margin-top:2px; }
		.tt-newentry-fields input { padding:6px; }

/* Entries */
.tt-entries { margin-top:1em; }

	.tt-entry-group { margin-top:2em; }
		.tt-entry-group table { margin-bottom:0; }
		.tt-entry-group footer { display:inline-block;border-top:0;margin-top:8px;margin-left:4px;padding:4px 8px;padding-top:4px;background-color:#ccc;font-size:0.8em;font-weight:bold;color:#505050;
			border-radius:4px; }

	.tt-entry-time { color:#666;font-size:1.2em;font-weight:bold; }
	.tt-entries .label { margin-top:-2px;margin-right:4px; }

/* Summary */
.tt-summary { position:absolute;top:8px;left:100%;z-index:1;margin-left:0;padding:1em;width:120px;border:1px solid #888;border-left:0;background-color:#f0f0f0;border-radius:0 8px 8px 0; }
	.tt-summary-time { padding-left:8px;font-weight:bold;color:#555; }

/* Timer */
.tt-timer { position:absolute;top:8px;right:100%;z-index:1;padding:1em;width:64px;text-align:right;border:1px solid #888;border-right:0;background-color:#f0f0f0;border-radius:8px 0 0 8px; }
	.tt-timer h5 { line-height:normal; }
	.tt-timer-time { display:none;margin-top:1em;font-weight:bold;color:#777;letter-spacing:1px; }
		.tt-timer-time-last { display:none;color:#888;font-size:0.8em; }
	.tt-timer-btns { display:none;margin-top:1em;white-space:nowrap;overflow:hidden; }
		.tt-timer .info { margin-right:8px; }

.tt-timer { -moz-transition:width 0.3s ease-out;-webkit-transition:width 0.3s ease-out;transition-property:width 0.3s ease-out; }
.tt-timer:hover { width:140px; }
	.tt-timer:hover .tt-timer-time { color:#444; }
		.tt-timer:hover .tt-timer-time-last { display:inline; }
	.tt-timer:hover .tt-timer-btns { display:block; }


/* Ajax Notice */
.tt-header-notice { display:none;position:absolute;top:0;left:100%;height:40px;width:100px;padding:0 16px 0 32px;color:#f0f0f0;line-height:40px;background-color:rgba(200, 200, 200, 0.1);
 	-moz-box-shadow:inset 2px 0 2px rgba(0, 0, 0, 0.3);-webkit-box-shadow:inset 2px 0 2px rgba(0, 0, 0, 0.3);box-shadow:inset 2px 0 2px rgba(0, 0, 0, 0.3); }
.tt-header-notice-saving { background-image:url(../images/ajax-loader.gif);background-repeat:no-repeat;background-position:8px center; }

.container { width:780px; }

/* Stuff that requires an Instance */
.tt-notfound { background-color:#f00 !important; }
.tt-notfound .tt-requireinstance { display:none; }

/* Layout */
html, body { background-color:#aaa;color:#333;font-size:14px; }

#header { background-color:#444; }
#header .topbar-inner { background-image:-khtml-gradient(linear, left top, left bottom, from(#444), to(#333));background-image:-moz-linear-gradient(top, #444, #333);background-image:-ms-linear-gradient(top, #444, #333);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #444), color-stop(100%, #333));background-image:-webkit-linear-gradient(top, #444, #333);background-image:-o-linear-gradient(top, #444, #333);background-image:linear-gradient(top, #444, #333);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444', endColorstr='#333', GradientType=0); }
	#header .container { position:relative; }
	#header h3 { color:#f0f0f0; }
		#header h3 span { margin-left:4px;color:#efe;font-size: 0.4em;text-transform:uppercase;text-shadow:0 1px 0 #000; }
	
#content { margin-top:60px;position:relative; }

	#content-inner { padding:2em;background-color:#f0f0f0;border:1px solid #888;position:relative;z-index:2; }