<% content_for :css do %>
	<%= stylesheet_link_tag "tt-home" %>
<% end %>

<h2 id="title-label"><%=@title %></h2>

<div id="entries" class="tt-entries">
	<section class="tt-entry-group">
		<h2>Today</h2>
		<p>No entries added yet.</p>
	</section>
</div>

<% content_for :js do %>
	<script>
		$(function() {
			TinyTime.Manager({
				components: {
					entries: TinyTime.Entries()
				}
			}).init();
		});
	</script>
<% end %>