<div id="login">
	<h2>Log In</h2>

	<div class="form-stacked">
		<fieldset>
			<ul class="unstyled inputs-list">
				<li class="clearfix">
					<label for="username">Username</label>
					<input type="text" id="username" />
				</li>
				<li class="clearfix">
					<label for="password">Password</label>
					<input type="password" id="password" />
				</li>
			</ul>
			<div class="form-actions">
				<button id="login-btn" class="btn primary">Log In</button>
			</div>
		</fieldset>
	</div>
</div>

<% content_for :js do %>
	<script>
		$(function() {
			TinyTime.Manager({
				components: {
					login: TinyTime.LogIn()
				}
			}).init();
		});
	</script>
<% end %>