/*
*= require_self
*/

.dropdown-menu li { white-space:nowrap; }

.tt-expand { -moz-transition:width 0.3s ease-out;-webkit-transition:width 0.3s ease-out;transition-property:width 0.3s ease-out; }
	.tt-expand-reveal, .tt-expand-reveal-inline { display:none; }
	.tt-expand:hover .tt-expand-reveal { display:block; }
	.tt-expand:hover .tt-expand-reveal-inline { display:inline-block; }

/* Title */
.tt-title-label { display:inline-block;padding:0 8px;border:1px solid #f0f0f0; }
	.tt-title-label:hover { background-color:rgba(255, 243, 176, 0.1);border-color:#ccc; }

input.tt-title-input { display:none;padding:9px 8px;font-size:24px;font-weight:bold; }

/* New Entry */
.tt-newentry { margin-top:1em;padding:1em 1em 0;border:1px solid rgba(187, 204, 153, 0.6);background-color:rgba(204, 221, 170, 0.7); }
	.tt-newentry header { font-size:0.9em;font-weight:bold;text-transform:uppercase; }
		.tt-newentry .row-fluid > [class*="span"] { min-height:0; }
	.tt-newentry-workdate { line-height:30px; }
		.tt-newentry-workdate-label { cursor:pointer; }
		.tt-newentry-workdate input { display:none; }
	.tt-newentry-fields { margin-top:2px; }
		.tt-newentry-fields input { padding:6px; }

/* Extras (Right Aside) */
.tt-extras { position:absolute;top:0;left:100%;z-index:1; }
	.tt-extras .tt-box { margin:8px 0 16px;width:120px;border-left:0;border-radius:0 4px 4px 0; }

/* Time Summary */
.tt-summary { }
	.tt-summary-time { padding-left:8px;font-weight:bold;color:#555; }

/* Invoices */
.tt-invoices { }
	.tt-invoices:hover { width:180px; }
	.tt-invoices-count { font-size:0.7em;vertical-align:top; }
		.tt-invoices-list li { margin-bottom:4px;padding:6px 8px; }
		.tt-invoices-list li:hover { background-color:#e0e0e0;box-shadow:inset 1px 1px 4px rgba(0, 0, 0, 0.3); }
			.tt-invoices-list a { color:#666;text-decoration:none; }
			.tt-invoices-list li:hover a { color:#111; }

/* Export */
.tt-export { }
	.tt-export:hover { width:180px; }
	.tt-export form { margin:0; }

/* Timer */
.tt-timer { position:absolute;top:8px;right:100%;z-index:1;padding:1em;width:64px;text-align:right;border-right:0;border-radius:4px 0 0 4px; }
	.tt-timer h5 { line-height:normal; }
	.tt-timer-time { display:none;margin-top:1em;font-weight:bold;color:#777;letter-spacing:1px; }
		.tt-timer-time-last { display:none;color:#888;font-size:0.8em; }
	.tt-timer-btns { display:none;margin-top:1em;white-space:nowrap;overflow:hidden; }
		.tt-timer .btn-info { margin-right:8px; }

.tt-timer { }
.tt-timer:hover { width:140px; }
	.tt-timer:hover .tt-timer-time { color:#444; }

#content { margin:0 220px 0 180px;max-width:none; }